[Unit]
Description=fmp-usage-forecaster
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=ubuntu
Type=simple
ExecStart=/home/ubuntu/fmp-usage-forecaster/start.sh --log-level=none
Restart=always
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10
Environment="E2_DB_USER=???"
Environment="E2_DB_PW=???"

[Install]
WantedBy=multi-user.target